.root {
  @apply grid gap-0 grid-cols-1;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  } 
  

  & > * {
    @apply row-span-1 overflow-hidden;
    max-height: 800px;

    @screen lg {
      height: inherit;
    }
  }
}


.layoutA {
  & > *:nth-child(6n + 1),
  & > *:nth-child(6n + 5) {

    @media (min-width: 1024px) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.layoutB {
  & > *:nth-child(6n + 2),
  & > *:nth-child(6n + 4) {
    
    @media (min-width: 1024px) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

